
.bottom{
    width: 100%;
    background: #ececec;
}
.bot_content{
    width: 1182px;
    height: 142px;
    margin: 0 auto;
}
.bot_content ul{
    float: left;
    float: left;
    padding-bottom: 0;
    padding-left: 32px;

    padding-right: 32px;
    padding-top: 0;
}

.bot_content ul li a{
    color: #7f7f7f;
}


.bot_content ul li.litter {
    padding-top: 10px;
}

.bot_content ul li.litter a{
    color: #2f2f2f;
    font-weight: bold;
}

.footer_info{
    width: 670px;
    margin: 15px auto 0;
}
.footer_info img{
    float: left;
    padding: 0 16px;
    border-right: 1px solid #d9d9d9;
}
.footer_copyright{
    color: #797979;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
}
.copy_con{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.copy_con a{
    color: #797979;
    text-decoration: none;
}
.copy_con a img{
    display: inline;
}

.footer{
    width: 780px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.footer img{
    float: left;
    width: 86px;
    height: 33px;
    margin-right: 6px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110119;
    width: 36px;
    height: 100%;
    background: #000;
}
.sidebar .menu{
    position: absolute;
    top: 25%;
}

.sidebar .menu .user{
    width: 36px;
    height: 36px;
    background: #000;
    cursor: pointer;
    background: url("../img/user.png") no-repeat center;
}
.sidebar .menu .cart{
    padding: 8px 0;
    width: 36px;
    height: 107px;
    border-top: 1px solid #3E3E3E;
    border-bottom: 1px solid #3E3E3E;
    cursor: pointer;
    background: #000;
    margin: 10px 0;
}
.sidebar .menu .cart .cart_icon{
    width: 34px;
    height: 21px;
    background: url("../img/cart.png") no-repeat center;
}
.sidebar .menu .cart .cart-font{
    margin: 6px 0;
    padding: 0 12px;
    width: 10px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.sidebar .menu  .cart_ring{
    width: 36px;
    height: 22px;
    background: url("../img/math.png") no-repeat center;
}
.sidebar .menu  .cart_ring p{
    color: #FFF;
    text-align: center;
}
.collect{
    width: 36px;
    height: 36px;
    background: url("../img/save.png") no-repeat center;
}
.sidebar .wechat{
    width: 36px;
    height: 36px;
    background: url("../img/wx.png") no-repeat center;
    position: relative;
}
.sidebar .wechat img{
    position: absolute;
    left: -140px;
    top: -236px;
    display: none;
}
.sidebar .wechat:hover img{
    display: block;
}
.kf{
    width: 36px;
    height: 36px;
    background: url("../img/kf.png") no-repeat center;
}

.back{
    position: absolute;
    bottom: -100px;
    width: 36px;
    height: 36px;
    background: url("../img/back.png") no-repeat center;
    cursor: pointer;
}