.logininfo{
    width: 100%;
    position: relative;
    left: 0;
    background: #f5f5f5;
    height: 29px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 9000;
}

.logininfo .content{
    width: 1160px;
    height: 26px;
    color: #999;
    margin: 0 auto;
    padding-right: 16px;
    z-index: 2;
}

.logininfo_l{
    float: left;
}
.logininfo_l  li{
    float: left;
    height: 29px;
    padding: 0 5px;
    line-height: 30px;
}
.logininfo_l  li i.index{
    background: url("../img/pro_index.png") no-repeat center;
    position: relative;
    top: 8px;
    float: left;
    left: -2px;
    width: 15px;
    height: 12px;
}
.logininfo_l  li a{
    color: #999;
}
.logininfo_l  li i.cert{
    width: 18px;
    height: 18px;
    background: url("../img/pro_z.png") no-repeat center;
    background-size: 100%;
    position: relative;
    top: 6px;
    float: left;
    left: -2px;
    margin-left: 5px;
}

.logininfo_r{
    float: right;
}
.logininfo_r li{
    float: left;
    height: 29px;
    padding: 0 5px;
    line-height: 30px;
    position: relative;
}

.logininfo_r li a{
    color: #999;
    cursor: pointer;
}

.logininfo_r li a:hover{
    color: mediumvioletred;
}


.logininfo_r li i{

    width: 18px;
    height: 15px;
    position: relative;
    top: 8px;
    float: left;
    left: -4px;
}
.logininfo_r li.wechat i{
    background: url("../img/pro_wx.png") no-repeat center;
    background-size: 100%;
}


.logininfo_r li.weibo i{
    background: url("../img/pro_wb.png") no-repeat center;
    background-size: 100%;
}
.logininfo_r li.tel i{
    background: url("../img/pro_tel.png") no-repeat center;
    background-size: 100%;
}
.logininfo_r li.cart i{
    background: url("../img/pro_cart.png") no-repeat center;
    background-size: 100%;
}
.logininfo_r li.cls i{
    background: url("../img/pro_cls.png") no-repeat center;
    background-size: 100%;
}
.logininfo_r li img{
    position: absolute;
    display: none;
    z-index: 100;
    top: 26px;
}
.logininfo_r li.wechat img{
    left: -120px;

}
.logininfo_r li.weibo img{
    left: -75px;

}
.logininfo_r li.tel img{

      left: -75px;

}
.logininfo_r li:hover img{
display: block;
}

.sort{
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #ededed;
    display: none;
}

.sort_main{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-top: 32px;
    background: #fff;
}
.sort_hot{
    float: left;
    padding-bottom: 62px;
}
.sort_title{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-family: "宋体";
    line-height: 25px;
    padding-bottom: 10px;
}
.woman,.Man, .underwear{
    width: 159px;
    float: left;
    padding-right: 26px;
}
.sort_hot dl dd.sort_separator{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
}
.sort_hot dl dd a{
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,宋体;
    font-size: 12px;
    color: #000;
    opacity: .5;
}
.H_icon{
    width: 100%;
    height: 10px;
}
.sort_USA{
    float: left;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 0 26px;
}
.bands{
    width: 378px;
    height: 186px;
}
.bands_left{
    float: left;
    width: 156px;
    height: 186px;
}
.bands_left img{
    height: 100%;
}
.bands_right{
    width: 222px;
    float: right;
}
.bands_right a{
    display: inline-block;
    width: 105px;
    height: 58px;
    margin: 0 0 6px 6px;
    float: left;
}
.brandsName{
    font-family: Arial;
    font-size: 12px;
    color: #000;
    opacity: .5;
    padding-top: 10px;
}
.sort_feature{
    padding-left: 24px;
    width: 159px;
    float: left;
    padding-bottom: 62px;
}
.sort_feature a{
    color: #999;
}
.bhs{

    padding-bottom: 15px;
}
.bhcon{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.logo_pic{
    margin-top: 23px;
    float: left;
}
.boundary {
    float: left;
    height: 25px;
    border-left: 1px solid #d9d9d9;
    margin-top: 25px;
    margin-left: 15px;
}
.brand_detail{
    margin: 20px 0 0 20px;
    float: left;
}
.brand_detail p{
    line-height: 16px;
    margin-bottom: 2px;
    float: left;
    clear: both;
}
.brandtype {
    padding: 0 2px;
    color: #000;
}
.btypeDad {
    background: #000;
    color: #fff;
    padding: 0 3px;
}
.search{
    float: right;
    margin-top: 18px;
}
.btn-Ts {
    background: #000;
    border: 3px solid #000;
    color: #fff;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 89px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    font-family: "Microsoft Yahei",arial;
    float: right;
}
.searchv1{
    width: 522px;
    float: right;
}
.fseachv1{
    border: 3px solid #E40462;
}
.fseachv1 input[type="text"]{
    width: 422px;
    height: 30px;
    padding-left: 5px;
    line-height: 30px;
    vertical-align: top;
    color: #666;
    margin-right: -6px;
    border: 0;
}
.fseachv1 input[type="button"]{
    width: 89px;
    height: 30px;
    line-height: 30px;
    background: #E40462;
    font-size: 16px;
    color: #fff;
    font-family: "Microsoft Yahei",arial;
    border: none;
    float: right;
}
.mv_top{
    width: 100%;
background: #fff;
    margin-top: -1px;
    background: #fff !important;
    height: 99px !important;
}
.mv_top_con{
    background: url("../img/pro_nav_logo.jpg") no-repeat center top !important;
    width: 1200px;
    height: 99px !important;
    margin: 0 auto;
}
.mv_nav{
    width: 100%;
    padding: 20px 0;
    padding-bottom: 8px;
    background: #fff;
}
.mv_nav_con{
    width: 1200px;
    margin: 0 auto;
    height: 34px;
    padding-top: 0;
}
.mv_nav_con ul{
    list-style: none;
    width: 1200px;
    height: 34px;
    float: left;
    padding-left: 0;
    margin: 0;
}
.mv_nav_con ul li{
    width: 100px!important;
    position: relative;
    float: left;
    height: 34px;
    text-align: center;
    background: url("../img/nav.gif") no-repeat right top;
    line-height: 32px;
}
.mv_nav_con ul li a{
    cursor: pointer;
    display: block;
    float: left;
    font-family: 微软雅黑;
    font-size: 15px;
    width: 100%;
    height: 34px;
    line-height: 32px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    color: #000;
}
.mv_nav_con ul li a.on{
    color: gray;
}
.mv_nav_con ul li a:hover{
    color: gray;
}


.mv_nav_con ul li img{
    position: absolute;
    right: 15px;
    top: -8px;
    z-index: 990;
}
.mv_nav_con ul li.last{
background: none;
}
.mv_nav_con ul li.last a{

    color: #c05c5c!important;
}
.pro{
    width: 1198px;
    margin: 18px auto 20px;
    background: #fff;
    position: relative;
    z-index: 1;
}
.pro_con{
    width: 100%;
    overflow: visible;
    display: block;
    zoom: 1;
}
.pro_con_l{
    float: left;
    width: 431px;
    padding: 8px 0 14px;
    height: 676px;
}
.this_page{
    float: left;
    width: 351px;
    padding: 0 0 5px 14px;
}
.this_page a{
    color: #9a9a9a;
}
.pro_con_l .pic{
    width: 380px;
    margin: 0 15px;
    clear: both;
    position: relative;
    z-index: 2;
    height: 627px;
}
.thum_list{
    margin: 8px auto 0;
    overflow: hidden;
    position: absolute;
    bottom: 22px;
}
.thum_list_con{
    width: 380px;


}
.thum_list_con .arr_left{
  
    width: 24px;
    height: 79px;
    cursor: pointer;
    background: url("../img/pro_left.png") no-repeat 0 26px;
    float: left;
}
.arr_right{
    position: absolute;
    right: -10px;
    width: 33px;
    height: 79px;
    cursor: pointer;
    background: url("../img/arr_right.png") no-repeat 10px 26px;
    z-index: 3;
}
.thum_list_center{
    overflow: hidden;
    width: 300px;
    position: relative;
    margin-left: 43px;
}
.thum_list_center ul{
    width: 1380px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    height: auto;
}
.thum_list_center ul li{
    float: left;
    width: 60px;
    height: 81px;
    overflow: hidden;
}
.thum_list_center ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 68px;
    border: 1px solid #fff;
}
.thum_list_center ul li a.on{
    border: 1px solid #000;
}
.thum_list_center ul li a img{
    width: 50px;
    height: 68px;
    cursor: pointer;
}
.pic ul.pro_m{
    position: absolute;
    width: 380px;
    height: 513px;
    float: left;
}
.pic ul.pro_m li{
    position: absolute;
    opacity: 0;
}
.pic ul.pro_m li.on{
    opacity: 1;
}
.pic .glass{
    width: 380px;
    height: 520px;
    position: absolute;
    overflow: hidden;
    left: 395px;
    top: 0;
    display:none;
}
.pic .glass img{
    position: absolute;
    left: -200px;
    top:-200px;
    opacity: 0;
}
.pic .glass img.on{
    opacity: 1;
}
.share{

    position: absolute;
    width: 380px;
    height: 22px;
    color: #484747;
    bottom: 0;
}
.share p{
    position: relative;
    top: 0;
    float: left;
}
.share span{
    position: relative;
    top: 3px;
    float: right;
    margin-left: 15px;
    line-height: 16px;
}
.share span a{
    padding-left: 16px;
    background: url("../img/pro_save.png") no-repeat -1px -1px;
}
.zoom{
    position: absolute;
    width: 98px;
    height: 131px;
    background: rgba(255,255,255,.5);
    border: 1px solid #ececec;
    display: none;
}
.p_info{
    float: left;
    display: inline-block;
    width: 543px;
    padding: 0 55px 10px 14px;
    color: #6a6a6a;
    min-height: 625px;
    border-right: 1px solid #E8E8E8;
    margin-top: 32px;
    margin-bottom: 15px;
}
.p_info h2{
    width: 100%;
    overflow: hidden;
    color: #1c1c1c;
    font-family: 'Microsoft Yahei';
    font-weight: 400;
    font-size: 20px;
}
.Look_p{
    background: url("../img/p_info1.png");
    height: 126px;
    margin-top: 15px;
    padding-left: 16px;
    padding-top: 10px;
    position: relative;
    width: 547px;

}
.codeshow{
    width: 145px;
    border-top: 1px dashed #D58E64;
    float: right;
    margin-top: 10px;
    padding-top: 1px;
    position: relative;
    z-index: 2;
}
.codeshow img.top{
    display: block;
    float: left;
    cursor: pointer;
}
.mb-p {
    float: right;
    width: 90px;
}
.price{
    margin: 5px 0 0 4px;
    font-family: '微软雅黑';
    color: #e70164;
    width: 310px;
    height: 52px;
}
.leftprice{
    height: 52px;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: block;
    color: #e50065;
    -webkit-font-smoothing: antialiased;
    float: left;
    margin-left: -4px;
}
.renBox{
    font-size: 20px;
    font-style: normal;
    letter-spacing: 1px;
}
.leftprice b{
    font-weight: 500;
    font-family: Arial;
    margin-left: 6px;
}
.price_dis{
    position: relative;
}
.p_code{
    position: absolute;
    background: #fff;
    width: 99%;
    height: 120px;
    top: 0;
    left: 0;
    border: 1px solid #e3e3e3;
    border-top: none;
    display: none;

    padding-top: 20px;
    text-align: center;
}
.p_code img{
    display: block;
    margin: 0 auto;
}
.p_code span.close{
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url("../img/close.png") no-repeat center;
    text-indent: -9999px;
}
.color_size_num{
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 25px;
}
.color{
    overflow: hidden;
    margin-top: 10px;
    height: 47px;
}
.color ul{
    color: #666;
}
.color_size_num ul li.tit{
    float: left;
    width: 35px;
    line-height:38px

}
.color ul li.colork{
    width: 360px;
    float: left;
}

.colork p.selected{
    background: url("../img/color_1.jpg") no-repeat;
    border: 0;
    padding: 2px;
}

.colork p{

    float: left;
    width: 94px;
    height: 38px;
    overflow: hidden;
    margin: 0 8px 5px 0;
    border: 2px solid #ccccca;
}
.colork p span{
    float: left;
}
.colork p i{
    padding-left: 10px;
    line-height: 32px;
}


.size{
    width: 100%;
    padding-top: 15px;
    overflow: hidden;
    height: 50px;
}
.size ul li{
    float: left;
}


.size ul li a{
    float: left;
    min-width: 43px;
    height: 28px;
    margin: 0 9px 5px 0;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: arial;
    position: relative;
    cursor: pointer;
}

.size ul li a.on{
    border: 1px solid red;
}

.num ul li{
    float: left;
}
.num ul li p{
    float: left;
    border: 1px solid #ccc;
    border-left: 0;
    width: 78px;
    position: relative;
}

.num ul li p b{
    width: 54px;
    height: 32px;
    float: left;
    line-height: 32px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: lighter;
}
.num ul li i.add{
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    border-bottom: 1px solid #ccc;
    width: 22px;
    background: url("../img/add.png") no-repeat 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.num ul li i.remove{
    cursor: pointer;
    height: 15px;
    line-height: 15px;
    width: 22px;
    background: url("../img/remove.png") no-repeat 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.num ul li span{
    float: left;
    padding: 3px 0 0 12px;
    color: #7f7f7f;
}
.addcart{
    width: 560px;
    margin: 10px 0;
    overflow: hidden;
}

.addcart a{
    float: left;
    width: 204px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 18px;
}

.addcart a.collect{
    background: #fff;
    cursor: pointer;
    border: 1px solid #E40165;
    color: #e70164;
    margin-right: 30px;
}
.addcart a.add{
    background: #e50065;
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
    border: 1px solid #e50065;
}
.ms_list{
    overflow: hidden;
    padding: 5px 0;
    white-space: nowrap;
}

.ms_list li{
    float: left;
    padding: 0 24px 0 0;
    margin-top: 8px;
    margin-bottom: 12px;
}
.ms_list li div{
    height: 32px;
}
.ms_list li div img{
    vertical-align: middle;
   display: inline-block;
}
.ms_list li div span{
    vertical-align: middle;

    display: inline-block;
}
.lookback{
    width: 126px;
    float: left;
    margin: 30px 0 0 20px;

}
.lookback .lb_title{
    text-align: center;
    font-size: 14px;
    color: #333;
    font-family: 'Microsoft Yahei';
    margin-bottom: 8px;
}
.lookback .lb_title span{
    display: inline-block;
    width: 15px;
    height: 4px;
    border-top: 1px solid #dedede;
}
.lookback .lb_title span.line_l{
    margin-right: 15px;
}
.lookback .lb_title span.line_r{
    margin-left: 13px;
}
.lookback .lb_carrie{
    overflow: hidden;
    height: 595px;
    position: relative;
}
.lookback .lb_carrie .lb_con{
    position: absolute;
}
.lookback .lb_carrie .lb_con li{
    margin: 2px 0;
    float: left;
}
.lookback .lb_carrie .lb_con li a{
    display: block;
    width: 120px;
    height: 162px;
    text-align: center;
}
.lookback .lb_carrie .lb_con li a img{
    width: 120px;
    height: 162px;
}
.lookback .lb_carrie .lb_con li p{
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
    margin: 5px 0 10px;
}
.togbtn {
    /*position: absolute;*/
    /*bottom: -620px;*/
}
.togbtn .prev{
    background: url("../img/pro_pre.png") no-repeat 99%;
    width: 54px;
    height: 24px;
    cursor: pointer;
    float: left;
}
.togbtn .next{
    background: url("../img/pro_next.png") no-repeat 1%;
    width: 54px;
    height: 24px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
.main{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.main .left{
    float: left;
    width: 190px;
}
.main .left .hotcommend a img{
    margin-bottom: 20px;
}
.hotcommend .cms{
    width: 188px;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
}
.cms .cms_con{
    width: 188px;
}
.cms dl{
    width: 188px;
    background: #fff;
    margin-top: 10px;
    position: relative;
}
.cms dl dt{
    width: 100%;
    height: 253px;
    overflow: hidden;
}

.cms dl dd{
    width: 100%;
    height: 36px;
    background: #fff;
    text-align: left;
    display: block;
    position: relative;
}

.cms dl dd .price{
    height: 36px;
    color: #1b1b1b;
    overflow: hidden;
    display: block;
    line-height: 36px;
    font-size: 18px;
    font-family: 微软雅黑,Arial;
    padding-left: 8px;
}



.cms dl dd .price .sign{
    font-weight: normal;
    font-size: 12px;
}




.cms dl dt img{
    width: 200px;
    height: auto;
}
.cms dl dd .icon{
    position: absolute;
    right: 8px;
    top: -8px;
    width: 40px;
    height: 40px;
    background: url("../img/pro_cart2.png") no-repeat center top;
}

.rm{
    margin: 0px auto;
    width: 188px;
}
.main .right{
    width: 992px;
    float: right;
    border: 1px solid #dedede;
}
.right .goodsimp{
    height: 42px;
    background: #e8e8e8;
}
.right .goodsimp h2{
    width: 100%;
    font-weight: 400;
    background-color: #e8e8e8;
}

.right .goodsimp h2 a{
    float: left;
    width: 150px;
    text-align: center;
    line-height: 40px;
    color: #545454;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    border-top: 2px solid #e8e8e8;
    cursor: pointer;
}
.right .goodsimp h2 a.on{
    background-color: #fff;
    color: #222;
    border-top: 2px solid #E60060;
}
.right .goodsimp .goodsimp_addcart{
    float: right;
    background: #e60065;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    color: #fff;
    font-family: "微软雅黑";
    cursor: pointer;
    font-size: 16px;
    display: none;
}
.right .goodsimp .jgshow{
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 14px;
    font-size: 12px;
    font-family: arial;
    color: rgb(234, 0, 99);
    display: none;
}
.right .goodsimp .jgshow span.mobilebuy{
    display: inline-block;
    min-width: 120px;
    padding: 0 18px 0 8px;
    height: 40px;
    line-height: 42px;
    font-size: 12px;
    color: #666;
    text-align: right;
    background-color: rgb(232, 232, 232);
    background-image: url("../img/down.png");
    border: 1px solid rgb(232, 232, 232);
    background-repeat: no-repeat;
    background-position: 93% center;
    margin: 0 5px;
    position: relative;
    top: -3px;
}
.right .goodsimp .jgshow span.mobilebuy img{
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline-block;
}
.mobile_code_block{
    display: block;
    position: absolute;
    top: 40px;
    left: -1px;
    min-width: 146px;
    height: 147px;
    border: 1px solid #e3e3e3;
    background: #fff;
    display: none;
}
.mobile_code_block img{
    width: 111px;
    height: 111px;
    margin: 18px 18px 0 0;
}
.fixtop{
    position: fixed;
    top: 0;
    z-index: 3000;
    width: 992px!important;
    box-shadow: rgba(0,0,0,.2) 0 1px 5px 0;
}
.fcontainer{
    background: #fff;
    margin-bottom: 10px;
}
.items{
    display: none;
}
.fcontainer div.on{
    display: block;
}
.items .item_t1{
    margin: 0 0;
    padding: 50px 0 20px;
}
.items .bodywork .p_attribute{
    width: 750px;
    margin: 0 auto;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    overflow: hidden;
}
.items .bodywork .p_attribute dl{
    width: 375px;
    float: left;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

.items .bodywork .p_attribute dl dt{
    width: 104px;
    text-align: right;
    background: #EEE;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
    font-weight: 700;
    font-size: 16px;
}
.p_attribute dl dd{
    width: 250px;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    font-size: 16px;
}
.show{
    margin: 0px auto;
    width: 915px;
}
.show img{
    display: block;
    margin: 0 auto;
}
.product_pic img{
    display: block;
    margin: 0 auto;
}

.e_total{
    padding: 24px 0;
    border-bottom: 1px solid #E7E7E7;
}
.e_total div{

    text-align: center;
    display: inline-block;
    zoom: 1;
    height: 66px;
    border-right: 1px solid #E7E7E7;
    vertical-align: top;
}
.e_total div p.t{
    color: #999;
    font-weight: 700;
    line-height: 12px;
}
.e-size li.b{
    background: url("../img/comment_1.png") no-repeat;
    color: #999;
    height: 42px;
    width: 42px;
    line-height: 16px;
    display: inline-block;
}
.e-size li {
    vertical-align: top;
}
.e-size li.o {
    background: url("../img/comment_2.png") no-repeat;
    color: #fff;
    height: 42px;
    width: 42px;
    margin: 0 16px;
    line-height: 16px;
    display: inline-block;
}

.e-size li p.case {
    margin-top: 5px;
}
.e-size li.l {
    background: url("../img/comment_3.png") no-repeat;
    color: #999;
    height: 42px;
    width: 42px;
    line-height: 16px;
    display: inline-block;
}

.e_total div.last {
    border: none;
    padding: 0 58px;
}

.e-shade {
    background: url("../img/shade.jpg") no-repeat 0 55%;
    height: 70px;
    width: 385px;
    position: relative;
}

.e-grade {
    position: absolute;
    top: 6px;
}
.e-grade p {
    margin-top: 15px;
}
.selectItem{
    overflow: hidden;
    font-size: 14px;
    color: #000;
    padding: 20px;
    border-bottom: 1px solid #E7E7E7;
}
.selectItem p{
    float: left;
}
.selectItem p a{
    display: block;
    padding-right: 8px;
    font-size: 14px;
    color: #000;
}
.selectItem p span.red {
    color: #ff008c;
}
.selectItem ul{
    float: left;
}
.selectItem ul li{
    padding: 0 7px;
    float: left;
}
.selectItem ul li.tit {
    padding-right: 0;
}
.selectItem ul li select {
    width: 78px;
    border: 1px solid #7d9db6;
}
.review .relist{
    min-height: 124px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    margin: 0 auto;
    width: 952px;
}
.buyer {
    width: 170px;
    padding-top: 20px;
    padding-right: 20px;
    float: left;
}
.buyer .header{
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto;
}
.buyer .header img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.buyer  p{
    text-align: center;
}
.p-address {
    color: #999;
}
.tbcomment {
    float: left;
    padding: 16px 0 16px;
    width: 710px;
    position: relative;
}
.describe {
    min-height: 55px;
    margin-bottom: 13px;
}
.c-info {
    line-height: 12px;
    color: #999;
}
.pl_page {
    float: right;
    padding: 20px 22px 20px 0;
}
.pl_page span.pageIndex {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #666;
    border: 1px solid #d8d8d8;
    display: block;
}
.pl_page span.on {
    font-weight: 700;
    color: #ff008e;
}

.items .rightitem{
    width: 992px;
    background: #fff;
    margin-bottom: 14px;
    padding-bottom: 12px;
}
.rightitem .htp-ti {
    font-size: 14px;
    color: #e50065;
    border-bottom: 1px solid #ffb8b8;
    width: 875px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 35px;
    padding-left: 25px;
    background: url("../img/hit.png") no-repeat 0 center;
}
.htp-con {
    line-height: 30px;
    width: 900px;
    margin: 0 auto;
    color: #666;
    padding: 15px 0 25px;
    font-family: "Microsoft Yahei";
}
.returnmain{
    width: 960px;
    margin: 30px auto;
}